In [1]:
d1={"name":"gitam","emailid":"gitam@gmail.com","address":"hyderabad"}
print(d1)

{'name': 'gitam', 'emailid': 'gitam@gmail.com', 'address': 'hyderabad'}

In [2]:
d1["name"]

'gitam'

In [3]:
d1["emailid"]='gitam-python@gmail.com'

In [4]:
d1['emailid']

'gitam-python@gmail.com'

In [6]:
del d1['emailid'] # delete the specific key value

In [7]:
d1 # del d1 will delete the entire dict object

{'name': 'gitam', 'address': 'hyderabad'}

In [8]:
d1.keys   # returns the list of keys

dict_keys(['name', 'address'])

In [9]:
d1.values() #returns the values

dict_values(['gitam', 'hyderabad'])

In [10]:
d1.items() # the list of tuples of keys and values

dict_items([('name', 'gitam'), ('address', 'hyderabad')])

In [11]:
t1=(1,2,3,4,5,6)
t1
type(t1)

tuple

# add contact

In [13]:
contacts={}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact details are added")
    else:
        print("contact details are already exist")
    return
addcontact('nani','6285287461')
addcontact('kiran','8801648291')
addcontact('vishal','9984562310')
addcontact('nani','6285287461')

contact details are added
contact details are added
contact details are added
contact details are already exist

# search contact

In [16]:
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s does not exists"%name)
    return
searchcontact('nani')
searchcontact('vishal')
searchcontact('rohit')

nani : 6285287461
vishal : 9984562310
rohit does not exists

# merge the contact with existing one

In [19]:
def importcontact(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added successfuly")
    return
newcontacts={'dinesh':9958426132,'aiay':8822501680}
importcontact(newcontacts)

2 contacts added successfuly

In [20]:
contacts

{'nani': '6285287461',
 'kiran': '8801648291',
 'vishal': '9984562310',
 'dinesh': 9958426132,
 'aiay': 8822501680}

# delete a contact

In [22]:
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfully")
    else:
        print(name,"not exists")
    return
deletecontact('dinesh')
deletecontact('kushal')

dinesh not exists
kushal not exists

# update the contact details

In [24]:
def deletecontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,"update successfully")
    else:
        print(name,"not exists")
    return
deletecontact('nani',6285287461)
deletecontact('dinesh',9958426132)

nani update successfully
dinesh not exists

# CLASSIC VERSION

In [1]:
li=["python","programming"]
print("%s%s"%(li[0],li[1]))

pythonprogramming

In [2]:
print("{0}{1}".format(li[0],li[1]))

pythonprogramming

In [3]:
li1=[1,2,3,4]
print("%d%d%d%d"%(li1[0],li1[1],li1[2],li1[3]))

1234

### string functions
- upper()--will converts the given string intouppercase
- lower()--will converts the given string into lower case

In [5]:
s1='gitam'
print(s1.upper())
print(s1.lower())

GITAM
gitam

# boolean function(true and false)
- islower()--true if the stringis lower case/false if the string not in lower case
- isupper()--true if the string in upper case/false if the string is not in upper case

In [6]:
si='GITAM'
print(s1.islower())
print(s1.isupper())

True
False

In [8]:
s2="Python Programming"
s3="python programming"
print(s2.istitle())
print(s3.istitle())

True
False

In [9]:
s2="Application1889"
s3="PythonProgramming"
print(s2.isalpha())
print(s3.isalpha())

False
True

In [10]:
s1="1234"
s2="application1234"
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [12]:
s1=" "
s2="Py th on"
print(s1.isspace())
print(s2.isspace())

True
False

In [14]:
s1='python'
print(",".join(s2))

P,y, ,t,h, ,o,n

In [15]:
s2="Python Programming Easy to Learn"
print(",".join(s2))

P,y,t,h,o,n, ,P,r,o,g,r,a,m,m,i,n,g, ,E,a,s,y, ,t,o, ,L,e,a,r,n

In [16]:
li=['python','programming','learn']
print(",".join(li))

python,programming,learn

In [19]:
s2="Python Programming Easy to learn"
li=s2.split()
print(li)
print(len(li))

['Python', 'Programming', 'Easy', 'to', 'learn']
5

In [20]:
s2="Python Programming Easy to Learn"
li=list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'E', 'a', 's', 'y', ' ', 't', 'o', ' ', 'L', 'e', 'a', 'r', 'n']

In [ ]:
s="python programming easy to learn"
print()

# function to generate n random

In [2]:
import random
def randomnu(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end="")
    return
randomnu(5,0,100)

9524486843